:root {
  --darkprimary: #191919;
  --darksecondary: #1a1a1a;
  --darktertiary: #282828;
  --darkborder: #333;
  --lightprimary: #ffffff;
  --lightsecondary: #f9f9f9;
  --lighttertiary: #f7f7f7;
  --lightborder: #ededed;
  --highlight: #a22135;
  --highlightsecondary: #891b2c;
  --highlighttertiary: #7c1928;
  --danger: #df4759;
  --shadow: 0 1px 3px rgb(0 0 0 / 4%);
  --deepshadow: 0px 4px 12px -6px rgba(0, 0, 0, 0.05);
}
