main {
  padding: 20px;
  margin-left: 200px;
  min-height: 100vh;
  padding-top: 64px;
  border-right: 1px solid #eee;
  max-width: 1400px;
  background: white;
}

body {
  background: #f7f7f7 !important;
}
