.textpicker {
  margin-bottom: 30px;
  width: 360px;

  label {
    font-weight: 700;
    font-size: 14px;
    display: block;
    margin-bottom: 7px;

    .req {
      color: red;
    }
  }

  .textpicker__scroll {
    border: 1px solid var(--lightborder);
    max-height: 150px;
    overflow-y: auto;

    ul {
      padding: 10px;
    }

    .textpicker__selected {
      display: flex;
      justify-content: space-between;
      background: var(--lighttertiary);
      border: 1px solid var(--lightborder);
      margin-bottom: 7px;
      padding: 7px;

      .selected__title {
        font-size: 14px !important;
        .selected__icon {
          width: 40px;
          display: block;
        }
        svg {
          fill: gray;
          margin-right: 10px;
        }

        .selected__media__meta {
          max-width: 250px;
          padding: 0 7px;
          label {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: normal;
            margin: 0;
            font-size: 12px;
          }
        }
      }

      span {
        display: flex;
        align-items: center;
      }

      button {
        width: unset;

        svg {
          width: 17px;
          fill: gray;
        }

        &:hover svg {
          fill: var(--highlight);
        }
      }
    }
  }

  .textpicker__picker {
    margin-top: 7px;
    display: flex;

    button {
      width: 100%;
      background: var(--highlight);
      color: var(--lightprimary);
      transition: 0.2s ease-in-out;
      font-size: 12px !important;

      &:hover,
      &:focus {
        background: var(--highlightsecondary);
      }
    }
  }

  .textpicker__footer {
    span.or {
      display: flex;
      justify-content: center;

      span {
        display: inline-block;
        padding: 7px 0;
        position: relative;
        font-size: 12px;

        &::after,
        &::before {
          content: "";
          position: absolute;
          width: 7px;
          height: 1px;
          background: var(--darkprimary);
          top: 50%;
        }

        &::after {
          right: calc(100% + 5px);
        }

        &::before {
          left: calc(100% + 5px);
        }
      }
    }

    button {
      width: 100%;
      background: none;
      color: var(--highlight);
      padding: 11px 14px;
      transition: 0.2s ease-in-out;
      font-size: 12px;
      text-align: left;
      padding-left: 5px;

      &:hover,
      &:focus {
        color: var(--highlightsecondary);
      }
    }
  }
}
